/* 
    Add here your own custom css styles
*/

/* Style for Cart Free-shipping progress bar */
.to-free-shipping {
    background-color: #03b5ad;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}
.to-free-shipping.active {
    display: block;
}
.to-free-shipping__bar {
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
}
.to-free-shipping__bar-progress {
    height: 7px;
    background-color: black;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.to-free-shipping__msg {
    margin: 0;
}
.to-free-shipping__success, .to-free-shipping__progress {
    display: none;
}
.to-free-shipping__success.active, .to-free-shipping__progress.active {
    display: block;
}


/* Product badge */
#product-media-slider-main, .product-item__wrapper {
    position: relative;
}
.product-badges {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    left: 10px;
    top: 10px;
}
.product-badge {
    padding: 3px 7px;
    color: #fff;
    border-radius: 4px;
    margin: 0;
}

/* Cart recom carousel */
.cart-recom-carousel .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100%
}
.cart-recom-carousel .product-item .cart-recom-carousel_img {
    height: 0;
    display: block;
    padding-bottom: 100%;
    position: relative;
}
.cart-recom-carousel .product-item .product-item-img  {
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
#offcanvas-cart .cart-recom-carousel .flickity-button {
    display: none!important;
}
#offcanvas-cart .cart-recom-carousel .product-item {
    width: 50%;
}
#template-cart .cart-recom-carousel .product-item {
    width: 33.33%;
}
@media only screen and (max-width:768px) {
    #template-cart .cart-recom-carousel .product-item {
        width: 50%;
    }
}

/* Search result page */
.search-page-container {
    display: grid;
}
.search-page-container .alert-info {
    grid-row: 1/2;
}
.search-result__blog {
    margin-top: 60px;
}
.search-result__blog-item {
    display: flex;
    align-items: center;
}
.search-result__blog h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.search-result__blog h2 {
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.search-result__page {
    margin-top: 60px;
}
.search-result__page h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.search-result__page h2 {
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p a {color: #06b7ab;}

.app-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordion-button.transparent{
    background-color: transparent ;
    color: #fff ;
}
.accordion-button.transparent:not(.collapsed){
    color: #101010;
background-color: #e7e7e7;
box-shadow: inset 0 -1px #00000020;
}

@media screen and (max-width: 576px){
    .footer-block.mobile{
        border-bottom: 1px solid;
        border-color: #2a2a2a;
    }
}

.footer-nav-links-wrapper {
    list-style: disc;
    list-style: none;
}

/* Product page */
.video-description {
    text-align: center;
    margin-top: 40px;
}