/* 
    Add here your own custom css styles
*/

/* Style for Cart Free-shipping progress bar */
.to-free-shipping {
    background-color: #03b5ad;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.to-free-shipping__bar {
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
}
.to-free-shipping__bar-progress {
    height: 7px;
    background-color: black;
}
.to-free-shipping__msg {
    margin: 0;
}
.to-free-shipping__success, .to-free-shipping__progress {
    display: none;
}
.to-free-shipping__success.active, .to-free-shipping__progress.active {
    display: block;
}


/* Product badge */
#product-media-slider-main, .product-item__wrapper {
    position: relative;
}
.product-badges {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    left: 10px;
    top: 10px;
}
.product-badge {
    padding: 3px 7px;
    color: #fff;
    border-radius: 4px;
    margin: 0;
}